* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #A31717;
    color: white;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #A31717;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.menu-icon {
    display: none;
    cursor: default; 
}

.menu-icon img {
    width: 30px;
    height: 30px;
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: default; 
    }

    .nav-links {
        display: none; 
    }
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content {
    max-width: 50%; 
}

.hero-content h1 {
    font-size: 48px; 
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-content .btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero img {
    max-width: 40%; 
    border-radius: 10px; 
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column; 
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hero img {
        max-width: 100%;
    }
}

/* Companies Section */
.companies {
    text-align: center;
    margin: 50px 0;
}

.companies p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #ccc; 
}

.companies-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #999;
    padding: 10px 30px; 
    border-radius: 15px; 
    max-width: 700px; 
    margin: 0 auto; 
}

.companies-content img {
    margin: 0 20px;
    height: 40px;
}

/* Branding Section */
.branding {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 50px;
}

.branding img {
    max-width: 50%; /
}

.branding-content {
    max-width: 40%; 
    text-align: right; 
}

.branding-content h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.branding-content p {
    font-size: 20px;
    line-height: 1.6;
}

/* Custom Section */
.custom {
    display: flex;
    align-items: center;
    padding: 50px;
    flex-direction: column; 
}

.custom h2 {
    text-align: center; 
    margin-bottom: 40px; 
}

.custom .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px; 
    max-width: 1000px;
}

/* Cartas */
.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    max-width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px; 
}

.card-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card-content p {
    font-size: 14px;
    line-height: 1.5;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ccc; 
    border-radius: 15px; 
    max-width: 1000px; 
    margin: 50px auto; 
}

.contact img {
    max-width: 45%; 
    border-radius: 10px; 
}

.contact-content {
    max-width: 45%; 
    text-align: left; 
}

.contact-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-content a.btn {
    display: inline-block;
    background-color: #A31717; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer Section */
.footer {
    background-color: #333;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar, .hero, .branding, .custom, .contact, .footer {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }

    .card {
        flex-direction: column; 
        max-width: 100%;
    }

    .companies-content {
        flex-wrap: wrap; 
        justify-content: center; 
        background-color: #4B1248; 
        padding: 20px;
        border-radius: 15px;
        max-width: 100%; 
        margin: 0 auto; 
    }

    .companies-content img {
        margin: 10px 10px; 
        height: 30px; /
    }

    .branding {
        flex-direction: column; 
        text-align: center; 
    }

    .branding img {
        max-width: 100%;
        margin-bottom: 20px; 
    }

    .branding-content {
        max-width: 100%;
        text-align: center; 
    }

    .contact {
        flex-direction: column; 
        text-align: center; 
        padding: 30px;
        background-color: #4B1248; 
    }

    .contact img {
        display: none; 
    }

    .contact-content {
        max-width: 100%;
        text-align: center; 
    }
    .contact-content a.btn {
        display: inline-block;
        background-color: #000000; 
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
    .footer {
        background-color: #4B1248; 
    }
}
